<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

	<jmxConfigurator />
	
	<property name="pattern" value="%date→%level→%thread→%class{0}→%line→%message%n" />
	<property name="fileNamePattern" value="%d{yyyyMMdd}.%i" />
	<property name="maxHistory" value="365" />
	<property name="maxFileSize" value="200MB" />

	<appender name="stdout" class="ch.qos.logback.classic.AsyncAppender">
		<appender name="stdout0" class="ch.qos.logback.core.ConsoleAppender">
			<Target>System.out</Target>
			<encoder><pattern>${pattern}</pattern></encoder>
		</appender>
		<queueSize>10000</queueSize>
		<discardingThreshold>1</discardingThreshold>
		<includeCallerData>true</includeCallerData>
	</appender>

	<appender name="file" class="ch.qos.logback.classic.AsyncAppender">
		<appender name="file0" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<File>log/log_archive_.log</File>
			<encoder><pattern>${pattern}</pattern></encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<FileNamePattern>log/log_archive_.log.${fileNamePattern}</FileNamePattern>
				<MaxHistory>${maxHistory}</MaxHistory>
				<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<MaxFileSize>${maxFileSize}</MaxFileSize>
				</TimeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>
		</appender>
		<discardingThreshold>1</discardingThreshold>
		<includeCallerData>true</includeCallerData>
	</appender>
	
	<appender name="error" class="ch.qos.logback.classic.AsyncAppender">
		<appender name="file0" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<File>log/log_error_.log</File>
			<encoder><pattern>${pattern}</pattern></encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<FileNamePattern>log/log_error_.log.${fileNamePattern}</FileNamePattern>
				<MaxHistory>${maxHistory}</MaxHistory>
				<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<MaxFileSize>${maxFileSize}</MaxFileSize>
				</TimeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>ERROR</level> 
				<onMatch>ACCEPT</onMatch> 
				<onMismatch>DENY</onMismatch> 
			</filter> 
		</appender>
		<discardingThreshold>1</discardingThreshold>
		<includeCallerData>true</includeCallerData>
	</appender>

	<root level="INFO">
		<!-- <appender-ref ref="stdout" /> -->
		<appender-ref ref="file" />
		<appender-ref ref="error" />
	</root>
	
</configuration>
